<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bulma.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <section class="hero is-black is-small">
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title">
              Safe-Tv
            </p>
            <p class="subtitle">
              AI-ML powered CCTV- Smart,Safe,Crowds in Check,Crimes Out
            </p>
          </div>
        </div>
      </section>
    {% block body %}
    {% endblock %}
    <!-- footer -->
</body>
</html>