<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <script src="https://kit.fontawesome.com/81d64a0e52.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
  <div class="block">
    <nav class="navbar is-primary">
        <div class="navbar-left">
            <a href="#"class="navbar-item">
                <h1 class="title is-9">SIH</h1>
            </a>
        </div>
        <div class="navbar-center navbar-menu">
            <a href="#" class="navbar-item">
                <span class="icon">
                    <i class="fa-brands fa-github"></i>
                </span>
            </a>
            <a href="#" class="navbar-item">
                <span class="icon">
                    <i class="fa-brands fa-twitter"></i>
                </span>
            </a>
            
        </div>
        <div class="navbar-end navbar-menu ">
            <a href="#" class="navbar-item">home</a>
            <a href="#" class="navbar-item">about us</a>
            <a href="#" class="navbar-item">contack</a>
        </div>
    </nav>
    </div>
    {% block body %}
    {% endblock %}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>
</html>