<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bulma.css')}}">
    <script src="https://kit.fontawesome.com/81d64a0e52.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <section class="hero is-black is-small">
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title">
              Safe-Tv
            </p>
            <p class="subtitle">
              AI-ML powered CCTV- Smart,Safe,Crowds in Check,Crimes Out
            </p>
          </div>
        </div>
      </section>
    {% block body %}
    {% endblock %}
    <!-- footer -->
    <footer style=" position: fixed; width: 100%; margin: auto; bottom: 0;">
        <div class="has-background-light p-3">
          <p>© 2020 BULMA BLOCKS <br class="is-hidden-tablet" /> —@tejasmagade
              <span class="is-pulled-right">
                  <span class="icon is-size-5">
                      <i class="fab fa-facebook-f pr-2"></i>                    
                      <i class="fab fa-twitter pr-2"></i>
                      <i class="fab fa-instagram pr-2"></i>
                      <i class="fab fa-linkedin-in pr-6 mr-6"></i>
                  </span>
              </span>
          </p>
      </div>
    </footer>
</body>
</html>